/* top bar **/ 

.TopBarContent {
    display: flex;
    align-items: center; /* Change from flex to center to vertically align items */
    justify-content: space-between;
    background-color: rgba(49, 47, 47, 0.07);
    height: 35px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .TopBarPanel {
    position: fixed;
    top: 0;
    width: calc(100% - 35px); 
    z-index: 1000; /* Ensure the top bar is above other content */
  }

